.card {
    border: 1px solid green;
    color: white;
    padding: 70px;
    display: inline-block;
}

.myimage {
    float: left;
    max-width: 100%;
    width: 25%;
    min-width: 25%;
    padding: 10px;
    border-radius: 50%;
    border: 5px solid cyan ;
    position: relative;
    top: 15px;
}

.mytext {
    position: relative;
    margin-top: 15px;
    padding: 15px;
    display:inline-block;
}

 .mytext h3 {
    color:cyan;
}

.socials {
    position: relative;
    top: 100px;
    left: 100px;
    display: inline;
}

.socials a {
    padding: 50px;
}

