.about {
    margin-top: 25px;
    flex-direction: column;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    margin-top: 50px;
}

.myimage {
    max-width: 100%;
    width: 25%;
    min-width: 25%;
    padding: 10px;
    border-radius: 50%;
    border: 5px solid cyan ;
    position: relative;
    top: 15px;
}

.socials {
    justify-self: center;
    align-self: center;
}

.socials a {
    padding: 0 50px;

}

.mytext {
    position: relative;
    margin-top: 30px;
}

 .mytext h3 {
    color:cyan;
}


@media screen and (max-width: 600px) {
    .myimage {
        min-width: 65%;
    }
  }

