.contact {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.contact button {
    width: max-content;
    display: inline-block;
    text-align: center;
    border: 3px solid cyan;
    padding: 0.5rem;
    background-color: rgb(26, 22, 43);;
    color: cyan;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover {
    border: 3px solid white;
    color: white;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 3px solid cyan;
    resize: none;
    color: white;
    background-color: rgb(26, 22, 43);
}