.experience {
    flex-direction: column;
}

.job {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.summary h3 {
    margin-top: 20px;
    color: cyan;
}

.summary ul {
    display: list-item;
    list-style-position: outside;
}

.summary li {
    display: list-item;
    list-style-type: disc;
    margin-top: 20px;
}

.summary img {
    height: 50%;
    width: 50%;
    max-height: 75%;
    max-width: 75%;
    min-height: 75%;
    min-width: 75%;
    border: 3px solid black;
    border-radius: 1.0rem;
}

