.navbar {
  justify-content: space-between;
  align-items: baseline;
}

li {
  display: inline-flex;
}

/* Individual list elements */
li a {
  color: white;
  padding: 10px;
  text-align: center;
}

/* Change the link color on hover */
li a:hover:not(.active) {
  background-color: indianred;
  color: white;
}

li a.active {
  background-color: #cf0642;
  color: white;
}
