

li {
  display: inline;
  float: right;
}

/* Individual list elements */
li a {
  color: white;
  padding: 10px;
  text-align: center;
}

.name {
  color:white;
  margin-left: 25px;

}

/* Change the link color on hover */
li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

li a.active {
  background-color: #cf0642;
  color: white;
}

