ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
  overflow: auto;
  border:1px solid #000;
}

/* Individual list elements */
li a {
  display: block;
  color: #000;
  padding: 40px 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #000;

}
  
li a:last-of-type {
  border-bottom: none;
}
/* Change the link color on hover */
li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

li a.active {
  background-color: #cf0642;
  color: white;
}

