.skills {
    flex-direction: column;
    flex-wrap: wrap;

}

.skills ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2.0rem;
    margin-top: 20px;
}

.skills li {
    display: block;
    background-color: indianred;
    border: 3px solid black;
    border-radius: 10%;
    padding: 10px 20px;
    color: whitesmoke;
    text-align: center;
    width: 125px;
   
}

.skills h3 {
    margin-top: 30px;
}

.certifications {
    display:flex;
    justify-content: space-between;
}


       


